// https://www.apple.com/v/iphone-13-pro/b/built/styles/main.built.css

@mixin ribbon {
    font-weight: 400;
    font-size: 14px;
    font-family: 'SF Pro Text', SF Pro Icons, Helvetica Neue, Helvetica, Arial,
        sans-serif;
    line-height: 1.4285914286;
    letter-spacing: -0.016em;
}

@mixin headline-standalone {
    font-weight: 600;
    font-size: 96px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.0416666667;
    letter-spacing: -0.015em;
}

@mixin super-keyfeatures-shared {
    font-weight: 600;
    font-size: 80px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.05;
    letter-spacing: -0.015em;
}

@mixin intro-shared {
    font-weight: 600;
    font-size: 120px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1;
    letter-spacing: -0.002em;
}

@mixin intro-shared-alt {
    font-weight: 600;
    font-size: 120px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 0.9166666667;
    letter-spacing: -0.002em;
}

@mixin intro-alt1-shared {
    font-weight: 600;
    font-size: 64px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.0625;
    letter-spacing: -0.009em;
}

@mixin intro-alt2-shared {
    font-weight: 600;
    font-size: 96px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.0416666667;
    letter-spacing: -0.015em;
}

@mixin subhead-shared {
    font-weight: 600;
    font-size: 40px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.1;
    letter-spacing: 0;
}

@mixin subhead-endcap-shared {
    font-weight: 600;
    font-size: 32px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.25;
    letter-spacing: 0.004em;
}

@mixin callout-shared {
    font-weight: 600;
    font-size: 24px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.1666666667;
    letter-spacing: 0.009em;
}

@mixin claim {
    font-weight: 600;
    font-size: 24px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.1666666667;
    letter-spacing: 0.009em;
}

@mixin claim-super {
    font-weight: 600;
    font-size: 64px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.0625;
    letter-spacing: -0.009em;
}

@mixin headline-innovation-story {
    font-weight: 600;
    font-size: 40px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1;
    letter-spacing: 0;
}

@mixin eyebrow-hero {
    font-weight: 600;
    font-size: 24px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.1666666667;
    letter-spacing: 0.009em;
}

@mixin headline-hero {
    font-weight: 600;
    font-size: 64px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.0625;
    letter-spacing: -0.009em;
}

@mixin intro-hero {
    font-weight: 600;
    font-size: 80px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.05;
    letter-spacing: -0.015em;
}

@mixin cta-hero {
    font-weight: 600;
    font-size: 24px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.1666666667;
    letter-spacing: 0.009em;
}

@mixin spec-design {
    font-weight: 600;
    font-size: 40px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.1;
    letter-spacing: 0;
}

@mixin features-camera {
    font-weight: 600;
    font-size: 24px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.1666666667;
    letter-spacing: 0.009em;
}

@mixin title-camera-hardware {
    font-weight: 600;
    font-size: 32px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.125;
    letter-spacing: 0.004em;
}

@mixin eyebrow-battery {
    font-weight: 600;
    font-size: 40px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.1;
    letter-spacing: 0;
}

@mixin claim-5g {
    font-weight: 600;
    font-size: 28px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.1428571429;
    letter-spacing: 0.007em;
}

@mixin subhead-ar {
    font-weight: 600;
    font-size: 40px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.1;
    letter-spacing: 0;
}

@mixin subhead-carriers {
    font-weight: 600;
    font-size: 48px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.0834933333;
    letter-spacing: -0.003em;
}

@mixin copy-carriers {
    font-weight: 400;
    font-size: 21px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.381002381;
    letter-spacing: 0.011em;
}

@mixin subhead-buystrip {
    font-weight: 600;
    font-size: 32px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.25;
    letter-spacing: 0.004em;
}

@mixin copy-buystrip {
    font-weight: 400;
    font-size: 19px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.2105263158;
    letter-spacing: 0.012em;
}

@mixin body-tight {
    font-weight: 400;
    font-size: 17px;
    font-family: 'SF Pro Text', SF Pro Icons, Helvetica Neue, Helvetica, Arial,
        sans-serif;
    line-height: 1.2353641176;
    letter-spacing: -0.022em;
}

@mixin caption {
    font-weight: 400;
    font-size: 12px;
    font-family: 'SF Pro Text', SF Pro Icons, Helvetica Neue, Helvetica, Arial,
        sans-serif;
    line-height: 1.3333733333;
    letter-spacing: -0.01em;
}

@mixin eyebrow {
    font-weight: 600;
    font-size: 24px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.1666666667;
    letter-spacing: 0.009em;
}

@mixin label {
    font-weight: 600;
    font-size: 24px;
    font-family: 'SF Pro Display', SF Pro Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    line-height: 1.1666666667;
    letter-spacing: 0.009em;
}

.test {
    @include super-keyfeatures-shared;
}
