{
  "singleQuote": true,
  "arrowParens": "always",
  "max-len": ["error", 140, 2],
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "tabWidth": 4
      }
    }
  ],
  "useTabs": false
}
