button {
    min-width: 28px;
    font-family: 'SF Pro Text', 'SF Pro Icons';
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    text-align: center;
    color: #fff;
    background: #0071e3;;
    border-radius: 12px;
    padding: 18px 31px;
    box-sizing: border-box;
    border: unset;
    cursor: pointer;
    &.small {
      border-radius: 12px;
    }
    &:hover {
      background: #0077ed;
    }
    &:disabled {
      opacity: .32;
    }
}