$type: (
    base: 16,
    fontFamily: unquote('Urbanist, "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif'),
    titles: (
        1: (
            size: 41.05,
            weight: bold,
            height: 1.18,
        ),
        2: (
            size: 36.49,
            weight: bold,
            height: 1.2,
        ),
        3: (
            size: 32.44,
            weight: bold,
            height: 1.24,
        ),
        4: (
            size: 28.83,
            weight: bold,
            height: 1.26,
        ),
        5: (
            size: 25.63,
            weight: bold,
            height: 1.24,
        ),
        6: (
            size: 22.78,
            weight: bold,
            height: 1.22,
        )
    ),
    variants: (
        subTitle: (
            size: 20.25,
            weight: 600,
            height: 1.40,
        ),
        body-1: (
            size: 18,
            weight: 600,
            height: 1.54,
        ),
        body-2: (
            size: 16,
            weight: 600,
            height: 1.48,
        ),
        small: (
            size: 12.64,
            weight: 600,
            height: 1.24,
        )
    )
);