// Создает стандартную колоночную систему
@mixin col-generate($breakPoint: '') {
    @if $breakPoint == ''{
        @for $i from 1 through map-get($grid, col) {
            .col-#{$i} {
                grid-column: auto/span $i;
            }
        }
    } @else {
        @for $i from 1 through map-get($grid, col) {
            .col-#{$breakPoint}-#{$i} {
                grid-column: auto/span $i;
            }
        }
    }
}

// Создает offset cтили, в зависимости от кол-ва колонок
@mixin col-offset {
    @for $i from 1 through (map-get($grid, col) - 1) {
        .offset-#{$i} {
            grid-column-start: $i;
        }
    }
}

// Создает медиа запрос, для передаваемого экрана и выше
@mixin col-break-points($breakPoint) {
    @media (min-width: $breakPoint + px) {
        @content;
    }
}
