$colCount: 24; // КОЛИЧЕСТВО КОЛОНОК В ПРОЕКТЕ
$colGap: 21px; // ОТСТУП МЕЖДУ КОНОНКАМИ
// РАЗДЕЛИТЬ ROW-GAP и COL-GAP
$rowGap: 42px; // ОПРЕДЕЛЯЕТ ОТСТУПЫ СЛЕВА И ПРАВА У КОНТЕЙНЕРА КОЛОНОК
// КОЛИЧЕСТВО СТРОК ????
